* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.notion-page-icon-hero {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.notion-page-icon-hero.notion-page-icon-image {
  width: 124px;
  height: 124px;
  position: absolute;
  left: auto;
  top: -96px;
  margin-left: 0;
}

.notion-page-icon-hero.notion-page-icon-span {
  height: 78px;
  width: 78px;
  margin-left: 0;
  position: absolute;
  left: auto;
  top: -96px;
}
